<h1>Employees (MongoDB)</h1>
<br>

<a href="http://localhost:3004/EmployeesMongoDB/add">Add Employee (MongoDB)</a>

<br>

<table border="1">
    <tr>
        <th>EID</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>


    <tr>


    </tr>
    <% for(let empMongoDB of employeesMongoDB){%>
        <tl>
            </tr>
            <td>
                <%=empMongoDB._id %>
            </td>
            <td>
                <%=empMongoDB.phone %>
            </td>
            <td>
                <%=empMongoDB.email %>
            </td>
            </tr>
            <% }%>



</table>
<br>
<a href="/">Home</a>