<body>
    <h1>Home</h1>

    <a href="http://localhost:3004/EmployeesSQL">Employees (SQL)</a>
    <br>
    <a href="http://localhost:3004/Departments">Departments</a>
    <br>
    <a href="http://localhost:3004/EmployeesMongoDB">Employees (MongoDB)</a>
    <br>

</body>